<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Styling -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <title>Santa's Helpers!</title>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-3"><strong>&#10052; Welcome to Santa's Helpers &#10052;</strong></h1>
                <p class="lead">Let's check to see if you are on Santa's Nice or Naughty list.....
                <p class ="lead">Enter your code here.
                </p>
            </div>
        </div>"
        {{{ body }}}
    </body>
</html
<script src="https://code.jquery.com/jquery.js"></script>
    </body>
</html>