<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parent Dashboard</title>
  <!-- Bootswatch Styling for Improving the Aesthetics -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
  <!--My Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">
  <style>
    .panel-body a {
      word-break: break-all;
    }
  </style>
</head>
<!-- <body style="background-color: #0d720d"> -->
<body style="background:url(http://moziru.com/images/snowfall-clipart-transparent-8.png);">
    <!-- <button class="btn btn-primary">Logout</button> -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container navdropdown">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </div>
    </div>
  </nav>

  <div class="container">
{{!--     <!-- Jumbotron for Title -->
  <div class="jumbotron" style="background-color: #04a8f4 ; color: white;">
    <h1 class="text-center"><strong>🎅 Parent Dashboard 🎅</strong></h1>
  </div>
 --}}
  <div class="page-header">
    <h2 class="text-center">Santa's Helpers <small>Welcome Parents</small></h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #04a8f4">
          <h3 class="panel-title"><strong>What does your child need to do in order to stay on Santa's Nice list?</strong></h3>
        </div>
        <div class="panel-body">
          <!-- Form to add tasks -->
          <form method='post' action='/child'>
            <div class="form-group">
              <label for="start-year">Enter Task:</label>
              <input type="text" class="form-control" name='task' id="child-taksr">
            </div>
            <button class="btn btn-secondary" type="submit">Add Task</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="btn-group col-sm-4" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Naughty</button>
      <button type="button" class="btn btn-default">Nice</button>
    </div>
  </div>

<br><br>

  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-primary">
        <!-- Task Management Panel-->
        <div class="panel-heading" style="background-color: #04a8f4">
          <h3 class="panel-title"><strong>Task Management</strong></h3>
        <div class="panel-body" id="santa-section">
          {{#each task}}
          <!-- add delete and edit button  -->
            <div>
              <p>{{this.dataValues.task}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
<<<<<<< HEAD
   <a class="btn btn-primary btn-lg" href="/child" role="button">Navigate to Child's page</a>

    <div class="row">
      <div class="col-sm-12">
        <br>

        <div class="panel panel-primary">

          <!-- Panel Heading for Santa's Message -->
          <div class="panel-heading" style="background-color: #04a8f4">
            <h3 class="panel-title"><strong> Task Management</strong></h3>
          </div>



          <!-- This main panel will hold the message from Santa-->
          <div class="panel-body" id="santa-section">
          </div>
=======
  </div>

  <div class="col-sm-1"></div>

  <div class="col-sm-4">
  <!-- Wishlist Panel-->
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color: #04a8f4">
      <h3 class="panel-title"><strong>Child's Wish List</strong></h3>
        {{#each gift}}
        <div>
          <p>{{this.dataValues.gift}}
>>>>>>> 5d83ca915281a5625020084ef41a3242e7439dcd
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-4"></div>
      <a class="btn btn-primary btn-lg col-sm-4" href="/child" role="button">Navigate to Child's page</a>
    </div>
  </div>
  <br><br><br>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="helper.js"></script>
</body>
</html>
