h1, h2 {
font-family: 'Droid Sans', sans-serif;
text-align: center;
color: #2146b7;
}

h1 {
font-size: 80px;
}

.red {
  color: red;
}

body {
  /* padding: 30px; m commented out*/
  background-size: contain;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/b1/20/0e/b1200e864b641bef08815dd9305330bd.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100% ;
  background-position-y: -467px; /*m added*/
  /*background-color: red;*/

}
html {
  height: 100%;
}

.navdropdown {
  display: flex;
  justify-content: flex-end;
}

.image2 {
  float:right;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-right: 100px;
}

.image3 {
  position: fixed;
  bottom:10px;
  right:10px;
  float:left;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-left: 400px;
}
.container2 {
  margin: 90px;
  border: 10px;
  padding: 30px;
  width:40%;
  border-color:#2146b7;
  background-color:
}
/* .container {
  float:right;
} */
